@font-face {
    font-family: "Pixel Powerline";
    src: url('Pixel_Powerline.ttf');
}

.app-button {
    -fx-text-fill: #B0CBFF;
    -fx-background-color: #2E3E5B;
    -fx-font-family: "Pixel Powerline";
    -fx-pref-width: 400px;
    -fx-pref-height: 150px;
    -fx-border-width: 1px;
}

.app-label {
    -fx-text-fill: #B0CBFF;
    -fx-font-family: "Pixel Powerline";
    -fx-font-weight: 400;
}

.dark-field {
    -fx-font-family: "Pixel Powerline";
    -fx-font-size: 40px;
    -fx-text-fill: #B3C3F4;
    -fx-alignment: CENTER;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-background-color: #222D42;
    -fx-border-color: #202020;
}

.light-field {
    -fx-font-family: "Pixel Powerline";
    -fx-font-size: 40px;
    -fx-text-fill: #222D42;
    -fx-alignment: CENTER;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-background-color: #B3C3F4;
    -fx-border-color: #202020;
}

.light-fixed-field {
    -fx-background-color: #272B36;
    -fx-text-fill: #8D9BC2;
}

.dark-fixed-field {
    -fx-background-color: #8D9BC2;
    -fx-text-fill: #272B36;
}

.app-rectangle {
    -fx-background-color: #999999
}
